<!doctype html>
<head>
<title>ipsi data</title>
</head>
<body>
<li><a href="{% url 'home' %}">Home</a></li>
<h1>Stored Datas list</h1>
{% for data in datas %}
<div>
<li><a href="{% url 'ipsi:ipsi_detail' pk=data.pk %}">{{ data.apply_univ }}</a></li>
<p>{{ data.sat_year }} / {{ data.apply_faculty }} / {{ data.options }} / {{ data.apply_way|linebreaksbr }}</p>
</div>
{% endfor %}
{% if user.is_active %}
<a href="{% url 'ipsi:input_data' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Input Data</a>
{% else %}
<p>Please input your datas after logging in</p>
<a href="{% url 'login' %}">Go to the login page</a> /
{% endif %}
</body>
